<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simple Chat | Socket IO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4680ff">
    <meta name="description" content="Simple Chat App using Django Channels and Socket io">
    <meta name="keywords" content="Chat, App, Channels">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Expires" content="15">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Nishkarsh Gupta">
    <script async src="//www.googletagmanager.com/gtag/js?id=UA-110170684-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-110170684-2');
    </script>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' rel='stylesheet'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
  </head>
  <body>
    <div id="frame">
      <div id="sidepanel">
        <div id="profile">
          <div id="login_wrap">
            
          </div>
        </div>
        <div id="contacts">
          <ul id="active_user_data">

          </ul>
        </div>
        <div id="bottom-bar">
          <button id="broadcast" style="width: 100%;"><i class="fa fa-bullhorn fa-fw" aria-hidden="true"></i> <span>Broadcast</span></button>
        </div>
      </div>
      <div class="content">
        <div class="contact-profile">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1200px-User_font_awesome.svg.png"/>
          <p id='TARGET_USERNAME'></p>
        </div>
        <div class="messages" style="width: 100%;">
          <ul id="chat_message">
            <li class="sent">
              <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
              <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
            </li>
            <li class="replies">
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <p>When you're backed against the wall, break the god damn thing down.</p>
            </li>
            <li class="replies">
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <p>Excuses don't win championships.</p>
            </li>
            <li class="sent">
              <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
              <p>Oh yeah, did Michael Jordan tell you that?</p>
            </li>
            <li class="replies">
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <p>No, I told him that.</p>
            </li>
            <li class="replies">
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <p>What are your choices when someone puts a gun to your head?</p>
            </li>
            <li class="sent">
              <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
              <p>What are you talking about? You do what they say or they shoot you.</p>
            </li>
            <li class="replies">
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
            </li>
          </ul>
        </div>
        <div class="message-input">
          <div class="wrap">
          <input type="text" placeholder="Write your message..." />
          <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{% static 'js/socket.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>